<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center title-font">
      Contractions Now!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>
<table></table>

<ion-card>
<div>
  <ion-card-content class="card">
    Contractions Now! provides a simple solution to count and record your contractions. This app has precise accuracy down to the millisecond in letting you know at what stage of labor you are at.
  </ion-card-content>
</div>
</ion-card>

<ion-card>
  <div>
    <ion-card-content class="card">
      When your contractions reach 5 minutes or less apart, that's typically the time to start heading to the hospital. This is a widely accepted reccomendation. However, you should always consult with a physician for medical guidance.
    </ion-card-content>
  </div>
  </ion-card>

</ion-content>
